<h1><%= flash[:success] %></h1>
<h1>SUBMITTED INFO</h1>
<h3>Name: <%= @input['name']%> </h3>
<h3>Location: <%= @input['location']%></h3>
<h3>Language: <%= @input['language']%></h3>
<h3>Comment: <%= @input['comment']%></h3>
<form action="/">
    <input type="submit" value="GO BACK">
</form>